.DS_STORE
node_modules
dist/bundle.*
.idea
npm-debug.log*
errorShots
dev/tests/config/coverage/
dev/tests/error_shots/
src/css/site.css
dist/index.html
*.sublime-workspace
*.sublime-project
