@mixin _tableMixin
{
	table
	{
		td
		{
			font-size: 0.9rem;

			&.value
			{
				font-family: $font-family-monospace;
			}
		}
	}
}

section.block
{
	@include contentMixin;

	.blockContainer,
	.blockDataContainer,
	.blockMetaContainer
	{
		@include sectionContainerDefaultMixin;

		margin-bottom: $margin-default;
		position: relative;

		@include _tableMixin;

		table
		{
			td.metric
			{
				white-space: nowrap;
			}
		}
	}

	.blockContainer
	{
		.failure
		{
			color: $color-red;
		}
		.success
		{
			color: $color-green;
		}
	}

	.blockDataContainer
	{
		.value
		{
			.data-container
			{
				overflow: auto;
				max-height: 200px;
				word-break: break-all;
				width: 100%;
			}
		}
	}

	.blockMetaContainer
	{
		table td.metric
		{
			text-transform: capitalize;
		}
	}
}
