@mixin _tableMixin
{
	table
	{
		td
		{
			font-size: 0.9rem;

			&.value
			{
				font-family: $font-family-monospace;
			}
		}
	}
}

section.block
{
	@include contentMixin;

	.blockContainer,
	.blockDataContainer,
	.blockMetaContainer,
	.blockVerifyContainer	
	{
		@include sectionContainerDefaultMixin;

		margin-bottom: $margin-default;
		position: relative;

		@include _tableMixin;
	}

	.blockContainer
	{
		.failure
		{
			color: $color-red;
		}
		.success
		{
			color: $color-green;
		}
	}

	.blockMetaContainer
	{
		table
		{
			margin-bottom: $margin-default;

			&:last-child
			{
				margin-bottom: 0;
			}
		}
	}
}
