@mixin _tableMixin
{
	table
	{
		td
		{
			font-size: 0.9rem;

			&.value
			{
				font-family: $font-family-monospace;
			}
		}
	}
}

section.block
{
	@include contentMixin;

	.block-container,
	.block-data-container,
	.block-meta-container,
	.block-preview-container
	{
		@include sectionContainerDefaultMixin;

		margin-bottom: $margin-default;
		position: relative;

		@include _tableMixin;

		table
		{
			td.metric
			{
				white-space: nowrap;
				width: 140px;

				@include media("<tablet")
				{
					width: auto;
				}
			}
		}
	}

	.block-container
	{
		.failure
		{
			color: $color-red;
		}
		.success
		{
			color: $color-green;
		}
	}

	.block-data-container
	{
		.value
		{
			.data-container
			{
				overflow: auto;
				max-height: 200px;
				word-break: break-all;
				width: 100%;
			}
		}
	}

	.block-meta-container
	{
		table td.metric
		{
			text-transform: capitalize;
		}

		.tags-container
		{
			.tag
			{
				border-radius: $border-radius-input;
				display: inline-block;
				font-family: $font-family-default;
				font-size: 10px;
				margin-right: $margin-button;
				padding: $padding-thin/4 $padding-thin $padding-thin/4 $padding-thin;
				white-space: nowrap;

				&:last-child
				{
					margin-right: 0;
				}
			}
		}
	}

	.block-preview-container
	{
		.document-container,
		.image-container,
		.movie-container
		{
			height: 200px;
			margin-top: $margin-default;
			overflow: hidden;
			text-align: center;
		}

		.document-container
		{
			height: 600px;

			object
			{
				height: 100%;
				width: 100%;
			}
		}

		.image-container
		{
			&.expanded
			{
				height: auto;
			}

			img
			{
				border: $border-default;
				cursor: pointer;
				max-width: 100%;
				max-height: 100%;
				object-fit: fill;
			}
		}

		.movie-container
		{
			height: 300px;

			video
			{
				max-width: 100%;
				max-height: 100%;
				height: 100%;
			}
		}

		.text-container
		{
			max-height: 600px;
			min-height: 200px;
			overflow: auto;
			word-break: break-all;
		}
	}
}
