@mixin _tableMixin
{
	table
	{
		td
		{
			font-size: 0.9rem;

			&.value
			{
				font-family: $font-family-monospace;
			}
		}
	}
}

section.block
{
	@include contentMixin;

	.block-container,
	.block-data-container,
	.block-meta-container,
	.block-tags-container,
	.block-preview-container
	{
		@include sectionContainerDefaultMixin;

		margin-bottom: $margin-default;
		position: relative;

		@include _tableMixin;

		table
		{
			td.metric
			{
				white-space: nowrap;
				width: 140px;

				@include media("<tablet")
				{
					width: auto;
				}
			}
		}
	}

	.block-container
	{
		.failure > a
		{
			color: $color-red;
			text-decoration: none;
		}
		.success > a
		{
			color: $color-green;
			text-decoration: none;
		}
	}

	.block-data-container
	{
		.value
		{
			.data-container
			{
				overflow: auto;
				max-height: 200px;
				word-break: break-all;
				width: 100%;
			}
		}
	}

	.block-meta-container
	{
		table
		{
			td.metric
			{
				text-transform: capitalize;
			}
		}
	}

	.block-tags-container
	{
		overflow: visible;

		.tags-container
		{
			.edit-button,
			.edit-save-button-container
			{
				float: right;
			}

			.edit-save-button-container
			{
				text-align: right;
				width: 120px;

				@include media("<tablet")
				{
					width: 70px;
				}
			}

			.tag
			{
				border-radius: $border-radius-input;
				display: inline-block;
				font-family: $font-family-default;
				font-size: 0.75em;
				margin-bottom: $margin-button;
				margin-right: $margin-button;
				padding: 0.15em 0.4em 0.15em 0.4em;
				white-space: nowrap;

				&:last-child
				{
					margin-right: 0;
				}
			}

			.react-select
			{
				min-width: 200px;
				max-width: calc(100% - 130px); // Leave room for .edit-save-button-container.
				width: 100%;

				@include media("<tablet")
				{
					max-width: calc(100% - 80px); // Leave room for .edit-save-button-container.
				}

				@include reactSelectMixin;
			}
		}		
	}

	.block-preview-container
	{
		.document-container,
		.image-container,
		.movie-container
		{
			height: 200px;
			margin-top: $margin-default;
			min-height: 200px;
			overflow: hidden;
			text-align: center;
		}

		.document-container
		{
			height: 600px;

			object
			{
				height: 100%;
				width: 100%;
			}
		}

		.image-container
		{
			&.expanded
			{
				height: auto;
			}

			img
			{
				border: $border-default;
				cursor: pointer;
				max-width: 100%;
				max-height: 100%;
				object-fit: fill;
			}
		}

		.movie-container
		{
			height: 300px;

			video
			{
				max-width: 100%;
				max-height: 100%;
				height: 100%;
			}
		}

		.text-container
		{
			max-height: 600px;
			min-height: 200px;
			overflow: auto;
			word-break: break-all;
		}
	}
}
