section.upload
{
	@include contentMixin;

	.file-container,
	.text-container,
	.timestamp-container
	{
		@include sectionContainerDefaultMixin;

		overflow: visible;

		div.button-container
		{
			min-height: 30px;
			position: relative;
			text-align: left;

			button.submit
			{
				position: absolute;
				bottom: 0;
				right: 0;
			}

			@include media("<tablet")
			{
				text-align: center;

				button.submit
				{
					position: static;
				}
			}
		}
	}

	.file-container
	{
		.filehash-warning
		{
			margin-top: $margin-default;
			display: none;

			&.visible
			{
				display: block;
			}

			.warning
			{
				font-weight: bold;
			}
		}

		form
		{
			padding-top: 30px; // This is added to match the button container at the bottom.

			&.dragging
			{
				label.file
				{
					background: rgba($color-blue, 0.1);
					border: $border-default;
					border-radius: $border-radius-default;
				}
			}

			label.file
			{
				border: 1px solid transparent;
				display: block;
				height: 145px;
				margin: 0 auto 0 auto;
				max-width: 320px;
				overflow: hidden;
				position: relative;
				width: 100%;

				&.file-selected i.fas
				{
					color: $color-blue;
				}

				input[type="file"]
				{
					display: none;
					height: 1px;
					left: -100%;
					position: absolute;
					top: -100%;
					width: 1px;
				}

				i.fas
				{
					border: 3px solid transparent;
					cursor: pointer;
					font-size: 50px;
					left: 50%;
					position: absolute;
					top: $padding-default * 2;
					transform: translateX(-50%);

					&:hover
					{
						color: $color-blue-dark;
					}

					&:active
					{
						background: $color-blue-dark;
						border-color: $color-blue-dark;
						color: #ffffff;
					}

				}

				span.filename
				{
					bottom: $padding-default * 4.5;
					display: block;
					font-size: .8rem;
					position: absolute;
					text-align: center;
					white-space: nowrap;
					width: 100%;
				}

				label.filehash
				{
					bottom: $padding-default;
					display: block;
					font-size: .8rem;
					left: 50%;
					position: absolute;
					transform: translateX(-50%);
				}
			}
		}
	}

	.text-container
	{
		div.textarea
		{
			position: relative;

			textarea
			{
				margin-bottom: $margin-default;
				min-height: 100px;
				width: 100%;
			}

			span.counter
			{
				font-size: .7rem;
				height: 12px;
				line-height: 12px;
				position: absolute;
				right: 1px;
				text-align: right;
				top: -12px;
				width: 39px;
			}
		}
	}

	.react-select
	{
		min-width: 200px;
		max-width: 325px;
		width: 100%;

		@include media("<tablet")
		{
			margin-bottom: $margin-default;
			max-width: none;
		}

		.react-select__control
		{
			border: $border-default;

			&.react-select__control--is-focused
			{
				border: $border-default;
				box-shadow: none;
			}
		}

		.react-select__multi-value__label
		{
			border-radius: $border-radius-input 0 0 $border-radius-input;
		}

		.react-select__multi-value__remove
		{
			border-radius: 0 $border-radius-input $border-radius-input 0;
		}

		.react-select__indicators
		{
			.react-select__indicator
			{
				color: $font-color-default;
			}

			.react-select__indicator-separator
			{
				background-color: $border-color-default;
			}
		}
	}
}
