div.subnavigation
{
	display: inline-block;
	font-weight: normal;
	// margin-bottom: $margin-default;

	.fas
	{
		font-size: $font-size-navigation;
		margin-left: $margin-default;
		margin-right: $margin-default;
		opacity: 0.3;
	}

	ul
	{
		display: inline-block;
		margin: 0;
		padding: 0;

		li
		{
			display: inline-block;
			font-size: $font-size-navigation;
			list-style-type: none;
			margin-right: $margin-default;
			white-space: nowrap;
			text-overflow: ellipsis;

			&:last-child
			{
				margin-right: 0;
			}

			a
			{
				opacity: 0.5;
				text-decoration: none;

				&.selected
				{
					opacity: 1;
				}

				&:hover
				{
					opacity: 1;
					text-decoration: underline;
				}
			}
		}
	}
}
