section.sync
{
	@include contentMixin;

	.sync-container
	{
		@include sectionContainerDefaultMixin;

		.sync-table-container
		{
			overflow: auto;

			table
			{
				margin-bottom: $margin-default;
				min-width: 525px;

				td,
				th
				{
					&.operation,
					&.chain,
					&.block_id,
					&.success,
					&.timestamp
					{
						white-space: nowrap;
					}

					&.chain
					{
						display: none;
					}

					&.tx_hash
					{
						.short
						{
							display: none;
						}

						@include media("<tablet")
						{
							.full
							{
								display: none;
							}

							.short
							{
								display: inline;
							}
						}
					}
				}

				td
				{
					font-family: $font-family-monospace;
					font-size: 0.9rem;

					&.empty-table
					{
						font-family: $font-family-default;
					}

					&.item
					{
					}
				}
			}
		}

		.bottom-controls
		{
			@include media("<tablet")
			{
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-between;
				align-content: flex-start;
				align-items: flex-end;
				align-self: auto;
  			}

			label
			{
				display: inline-block;

				.text
				{
					font-size: $font-size-form-label;
				}

				select
				{
					display: block;
				}
			}			

			select
			{
				width: auto;				
			}

			.control
			{
				display: inline-block;

				@include media("<tablet")
				{
					flex: 1 0 auto;
				}

				select
				{
					width: 150px;

					@include media("<tablet")
					{
						width: auto;
					}
				}
			}

			.count
			{
				float: right;

				@include media("<tablet")
				{
					flex: 0 0 auto;
					float: none;
				}
			}

			.offset
			{
				bottom: $margin-default;
				left: 50%;
				position: absolute;
				transform: translateX(-50%);

				@include media("<tablet")
				{
					bottom: auto;
					left: auto;
					position: static;
					transform: none;
				}

				.next-page,
				.prev-page
				{
					margin: 0 $margin-button 0 $margin-button;
				}

				.next-page-fast,
				.prev-page-fast
				{
					@include media("<tablet")
					{
						display: none;
					}
				}
			}
		}
	}
}
