$height: 34px;

nav.main
{
	background: $background-color-box;
	margin-bottom: $margin-default;
	text-align: center;

	ul
	{
		display: inline-block;
		height: $height;
		padding: 0 $padding-thin 0 $padding-thin;
		margin: 0 auto 0 auto;
		// width: 100%;

		li
		{
			display: inline-block;
			list-style-type: none;
			white-space: nowrap;
			text-overflow: ellipsis;

			&.active a
			{
				border-bottom: 2px solid $border-color-default;
			}

			a
			{
				border: 2px solid transparent;
				color: $font-color-default;
				display: inline-block;
				font-size: $font-size-navigation;
				height: $height;
				line-height: $height;
				padding: 0 $padding-default/2 0 $padding-default/2;
				text-decoration: none;
				width: 100%;

				&[href="/#/search"]
				{
					color: rgba($font-color-default, 0.7);
				}

				&[href="/#/settings"]
				{
					display: none;
				}
			}

			&:first-child > a
			{
				padding-left: 0;
			}

			&:last-child > a
			{
				padding-right: 0;
			}
		}
	}

	&.admin
	{
		ul li a[href="/#/settings"]
		{
			display: inline-block;
		}
	}
}
