section.search
{
	@include contentMixin;

	.search-container
	{
		@include sectionContainerDefaultMixin;

		h2
		{
			display: none;
		}

		.search
		{
			position: relative;

			input[name="search"]
			{
				font-size: 1.4em;
				line-height: 1.4em;
				padding-right: 18px + $padding-thin * 4;
			}

			button.clear
			{
				@include flatButtonMixin;

				$button-size: 18px + $padding-thin * 2;

				border-radius: $button-size;
				display: none;
				font-size: 16px;
				height: $button-size;
				padding: $padding-thin;
				position: absolute;
				right: $padding-thin;
				top: 50%;
				transform: translateY(-50%);
				width: $button-size;

				&.visible
				{
					display: inline;
				}
			}
		}

		.search-results
		{
			.count
			{
				font-size: 0.8em;
				margin: $margin-default 0 $margin-default 0;
				text-align: center;
			}

			.no-results
			{
				font-style: italic;
				margin: $margin-default 0 0 0;
				text-align: center;
			}
		}

		.saved-search-container
		{
			margin: $margin-default 0 0 0;
			padding: $padding-default;

			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: flex-start;
			align-content: flex-start;

			a
			{
				flex: 0 0 auto;
				margin: $margin-button;
			}
		}
	}
}
