section.settings
{
	@include contentMixin;

	.cache-container,
	.tags-container
	{
		@include sectionContainerDefaultMixin;
	}

	.cache-container
	{
		div.button-container
		{
			position: relative;
			text-align: center;
		}
	}

	.tags-container
	{
		.controls
		{
			@include controlsMixin;
		}

		.color-preview
		{
			text-transform: uppercase;

			.color-preview
			{
				border: $border-default;
				display: inline-block;
				height: 1em;
				margin-right: $margin-button;
				width: 1em;
				vertical-align: bottom;
			}
		}
	}
}
