section.settings
{
	.cache-container,
	.chain-id-container,
	.sync-container,
	.timestamp-container
	{
		@include sectionContainerDefaultMixin;
	}

	.cache-container,
	.chain-id-container,
	.sync-container,
	.timestamp-container
	{
		div.button-container
		{
			position: relative;
			text-align: center;
		}
	}

	.chain-id-data.visible
	{
		margin-bottom: $margin-thick;
		margin-top: $margin-thick;
		text-align: center;
	}
}
