section.settings
{
	@include contentMixin;

	.cache-container,
	.tags-container,
	.timestamp-container
	{
		@include sectionContainerDefaultMixin;
	}

	.cache-container,
	.timestamp-container
	{
		div.button-container
		{
			position: relative;
			text-align: center;
		}
	}

	.tags-container
	{
		.controls
		{
			@include controlsMixin;
		}

		.empty
		{
			text-align: center;			
		}

		.react-table
		{
			overflow: auto;

			.rt-table
			{
				min-width: 500px;

				.rt-thead > .rt-tr > .rt-th.uses > div,
				.rt-tbody > .rt-tr-group > .rt-tr > .rt-td.uses
				{
					text-align: right;
				}
			}
			.uses
			{
			}
		}

		.color-preview
		{
			text-transform: uppercase;

			.color-preview
			{
				border: $border-default;
				display: inline-block;
				height: 1em;
				margin-right: $margin-button;
				width: 1em;
				vertical-align: bottom;
			}
		}
	}
}
