html
{
	box-sizing: border-box;
	color: $font-color-default;
	font-family: $font-family-default;
	font-size: 14px;
	word-break: break-word;
}

*, *:before, *:after
{
	box-sizing: inherit;
}

body
{
	background: $background-color-default;
}

h1, h2, h3
{
}

h1
{
	font-size: 24px;
	font-weight: 600;
	margin: 0 0 .4em 0;
}

h2
{
	font-size: 18px;
	font-weight: 600;
	margin: 0 0 .3em 0;
}

h3
{
	font-weight: 600;
}

p
{
	margin: 0 0 1em 0;
}

a
{
	color: #777777;
}

@include tableMixinDefault;