@mixin tableColorsMixin
{
	$color: #fafafa;

	table
	{
		tr > th
		{
			background: darken($color, 11%);
		}

		tr:nth-child(even) > td
		{
			background: darken($color, 7%);
		}

		tr:nth-child(odd) > td
		{
			background: darken($color, 3%);
		}

		tr:hover > td
		{
			background: darken($color, 11%);
		}
	}

	table.reverse-row-colors
	{
		tr:nth-child(even) > td
		{
			background: darken($color, 3%);
		}

		tr:nth-child(odd) > td
		{
			background: darken($color, 7%);
		}
	}
}

@mixin tableMixinDefault
{
	@include tableColorsMixin;

	table
	{
		border-collapse: collapse;
		border-radius: $border-radius-default;
		overflow: hidden;
		width: 100%;

		tr, td, th
		{
			margin: 0;
			padding: 0;
			vertical-align: top;
		}

		tr
		{
			td, th
			{
				font-size: 1rem;
				font-weight: normal;
				padding: $padding-default;
				text-align: left;

				&:last-child
				{
					text-align: right;
				}

				&.empty-table
				{
					text-align: center;
				}

				&.empty
				{
					padding: 0;
				}
			}

			th
			{
				font-weight: bold;
				white-space: nowrap;
			}
		}
	}
}
