@import "./mixins-table.scss";
@import "./mixins-react-select.scss";
@import "./mixins-react-modal.scss";
@import "./mixins-react-table.scss";
@import "./mixins-tingle-modal.scss";

@mixin contentMixin
{
	.content
	{
		margin: 0 auto 0 auto;
		max-width: 960px;
		padding: $padding-default;

		.loading-text
		{
			padding: $padding-default;
		}

		h1
		{
			position: relative;
			margin-bottom: $margin-default;

			.controls
			{
				@include controlsMixin

				position: absolute;
				right: 0;
				top: 0;
			}

			> .refresh
			{
				position: absolute;
				right: 0;
			}
		}

		section
		{
			margin: $margin-thick 0 $margin-thick 0;
		}
	}
}

@mixin sectionHoverMixin
{
	&:hover
	{
		background: $background-color-box-light;
		border: 1px solid $border-color-light;
	}
}

@mixin sectionContainerDefaultMixin
{
	@include sectionHoverMixin;

	background: rgba($background-color-box-light, 0.00);
	border: 1px solid rgba($border-color-light, 0.30);
	border-radius: $border-radius-default;
	margin-bottom: $margin-default;
	overflow: auto;
	padding: $padding-default;
	position: relative;
	transition: background $transition-duration-default, border $transition-duration-default;

	h2
	{
		position: relative;
		margin-bottom: $margin-default;

		.controls
		{
			position: absolute;
			right: 0;
			top: 0;
		}
	}

	.description
	{
		margin-bottom: $margin-default;
	}
}

/**
 * Source: https://stackoverflow.com/a/4407335/9979
 */
@mixin noSelect
{
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

@mixin flatButtonMixin
{
	background: transparent;
	border: none;

	&:active,
	&:hover
	{
		background: $color-grey-dark;
	}
}

@mixin controlsMixin
{
	button
	{
		@include flatButtonMixin;

		font-size: 0.7em;
		padding-bottom: 4px;
		padding-top: 4px;
	}

	> *
	{
		margin-left: $margin-button;
	}
}