@mixin contentMixin
{
	.content
	{
		margin: 0 auto 0 auto;
		max-width: 960px;
		padding: $padding-default;

		.loadingText
		{
			padding: $padding-default;
		}

		h1
		{
			position: relative;
			margin-bottom: $margin-default;

			.controls
			{
				position: absolute;
				right: 0;
				top: 0;

				button
				{
					font-size: 0.7em;
					padding-bottom: 4px;
					padding-top: 4px;
				}

				> *
				{
					margin-left: $margin-button;
				}
			}

			> .refresh
			{
				position: absolute;
				right: 0;
			}
		}

		section
		{
			margin: $margin-thick 0 $margin-thick 0;
		}
	}
}

@mixin sectionHoverMixin
{
	&:hover
	{
		background: $background-color-box-light;
		border: 1px solid $border-color-light;
	}
}

@mixin sectionContainerDefaultMixin
{
	@include sectionHoverMixin;

	background: rgba($background-color-box-light, 0.25);
	border: 1px solid rgba($border-color-light, 0.25);
	border-radius: $border-radius-default;
	margin-bottom: $margin-default;
	overflow: auto;
	padding: $padding-default;
	position: relative;
	transition: background $transition-duration-default, border $transition-duration-default;

	h2
	{
		position: relative;
		margin-bottom: $margin-default;

		.refresh
		{
			position: absolute;
			right: 0;
		}
	}

	.description
	{
	}
}

@mixin tableColorsMixin
{
	table
	{
		tr > th
		{
			background: darken(#f6f6f6, 10%);
		}

		tr:nth-child(even) > td
		{
			background: darken(#f6f6f6, 5%);		
		}

		tr:nth-child(odd) > td
		{
			background: #f6f6f6;		
		}

		tr:hover > td
		{
			background: #dfdfdf;
		}
	}

	table.reverse-row-colors
	{
		tr:nth-child(even) > td
		{
			background: #f6f6f6;		
		}

		tr:nth-child(odd) > td
		{
			background: darken(#f6f6f6, 5%);		
		}

		tr:hover > td
		{
			background: #dfdfdf;
		}
	}
}

@mixin tableMixinDefault
{
	@include tableColorsMixin;

	table
	{
		border-collapse: collapse;
		border-radius: $border-radius-default;
		overflow: hidden;
		width: 100%;

		tr, td, th
		{
			margin: 0;
			padding: 0;
			vertical-align: top;
		}

		tr
		{
			td, th
			{
				font-size: 1rem;
				font-weight: normal;
				padding: $padding-default;
				text-align: left;

				&:last-child
				{
					text-align: right;
				}

				&.empty-table
				{
					text-align: center;
				}

				&.empty
				{
					padding: 0;
				}
			}

			th
			{
				font-weight: bold;
				white-space: nowrap;
			}
		}
	}
}
