// Globals
$background-color-default: #ffffff;
$background-color-box: #eeeeee;
$background-color-box-light: #f7f7f7;
$border-color-default: #cccccc;
$border-color-light: #dddddd;
$border-default: 1px solid $border-color-default;
$border-radius-default: 10px;
$border-radius-input: 5px;
$font-color-default: #777777;
$font-color-disabled: rgba(#b2b9bf, 0.3);
$font-family-default: "Open Sans";
$font-family-monospace: "Courier New", "Lucida Console";
$margin-default: 10px;
$margin-thick: $margin-default * 2;
$margin-thin: $margin-default / 2;
$padding-default: 10px;
$padding-thick: $padding-default * 2;
$padding-thin: $padding-default / 2;
$padding-input: 8px;

// Colors
$color-blue: #007bff;
$color-blue-dark: darken($color-blue, 10%);
$color-blue-light: lighten($color-blue, 10%);
$color-grey: #6c757d;
$color-grey-dark: darken($color-grey, 10%);
$color-grey-light: lighten($color-grey, 10%);
$color-green: #28a745;
$color-red: #dc3545;
$color-yellow: #ffc107;
$color-cyan: #17a2b8;
$color-light: #f8f9fa;
$color-dark: #343a40;

// Sizes
$footer-height: 34px;
// $sidebar-width: 200px;
// $sidebar-width-collapsed: 50px;
$header-height: 40px;

// Z-Index
// $expand-collapse-tab-z-index: 103;
// $header-z-index: 101;
// $main-z-index: 100;
// $sidebar-z-index: 102;
// $top-navigation-z-index: 103;

// Transitions
// $transition-text-fade: 0.25s;

// Media Queries (npm include-media)
$breakpoints: (mobile: 375px, tablet: 768px, desktop: 1024px, highres: 1366px, r720p: 1280px, r1080p: 1920px);
