header.main
{
	background: #dfdfdf;
	height: $header-height;
	padding: $padding-default;
	position: relative;

	.logo
	{
		height: $height;
		left: $padding-default;
		position: absolute;
		top: $padding-default;

		img
		{
			height: $height;
			position: relative;
			top: 5px;
		}
	}

	nav.top-navigation
	{
		$background-color: #eeeeee;
		$box-shadow: 0px 0px 10px 2px rgba(48, 48, 48, 0.2);
		$color: #7a8a90;
		$height: 30px;
		$width: 150px;
		$width-small: 31px;

		background: transparent;
		border: 1px solid transparent;
		border-radius: $border-radius-default;
		cursor: pointer;
		display: block;
		height: $height;
		overflow: visible;
		padding: 0;
		position: absolute;
		right: $padding-default;
		top: $padding-default;
		transition: background $transition-duration-text;
		width: $width;
		z-index: $z-index-top-navigation;

		&.single-user-mode
		{
			width: $width-small;

			label.username,
			li.logout
			{
				display: none;
			}
		}

		&:hover,
		&.expanded
		{
			background: $background-color;
			box-shadow: $box-shadow;
		}

		label.username
		{
			cursor: pointer;
			display: inline-block;
			line-height: $height;
			margin-left: 10px;
			margin-right: 24px;
			max-width: calc(100% - 10px - 24px);
			overflow: hidden;
			padding-right: $padding-input;
			text-align: right;
			white-space: nowrap;
			width: calc(100%);
			text-overflow: ellipsis;
		}

		>.fa-caret-down
		{
			position: absolute;
			right: 10px;
			top: 8px;
			width: 9px;
		}

		ul.menu
		{
			background: $background-color;
			border-radius: $border-radius-default;
			box-shadow: $box-shadow;
			display: none;
			min-width: $width;
			overflow: hidden;
			padding: 0;
			position: absolute;
			right: 0;
			top: $height - 10px;
			width: 100%;

			&.expanded
			{
				display: block;
			}

			li
			{
				list-style-type: none;
				opacity: 1;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}

			li a
			{
				$height: 35px;

				color: $color;
				display: inline-block;
				font-size: 15px;
				height: $height;
				line-height: $height;
				padding: 0 0 0 $padding-default*1.6;
				text-decoration: none;
				width: 100%;

				i[class*="fa"]
				{
					opacity: 0.4;
					transition: opacity $transition-duration-text;
					width: 26px;
				}

				label
				{
					cursor: pointer;
					display: inline;
					opacity: 1;
					transition: opacity $transition-duration-text;
				}
			}

			li:hover a,
			li.active a
			{
				background: #dedede;

				i[class*="fa"]
				{
					opacity: 1;
				}
			}
		}
	}

}
