.loading-modal
{
	@include tingleModalMixin;
	@include noSelect

	.tingle-modal-box
	{
		background: transparent;
		border-radius: $border-radius-default;

		.tingle-modal-box__content
		{

			background: transparent;
			text-align: center;

			img
			{
				transition: transform 0.3s;
			}
		}
	}
}