section.login
{
	.loginBox
	{

		@include sectionContainerDefaultMixin;

		// Eliminate hover effect.
		background: $background-color-box-light;
		border: 1px solid $border-color-light;

		left: 50%;
		opacity: 0;
		padding: $padding-thick;
		position: absolute;
		top: 200px;
	   	text-align: center;
		transform: translateX(-50%);
		transition: opacity 1s;
		width: 300px;

		@include media("<tablet")
		{
			top: 75px;
		}

		&.show
		{
			opacity: 1;
		}

		div.logo
		{
	    	margin: 0 0 $margin-thick 0;

			img
			{
				width: 50%;
			}
		}

		div.input-container
		{
			margin: 0 auto $margin-default auto;
			position: relative;
			width: 80%;

			i.fas
			{
				left: $padding-default;
				opacity: 0.7;
				position: absolute;
				top: 50%;
				transform: translateY(-50%); 
			}
		}

		div.input-container.password
		{
			margin-bottom: $margin-thick;
		}

		input[name="username"]
		{
			padding-left: 30px;			
		}

		input[name="password"]
		{
			padding-left: 30px;			
		}

		input[type="submit"]
		{
			display: block;
			margin: 0 auto 0 auto;
		}
	}

	#particles-js
	{
		overflow: hidden;
	}
}
