section.dashboard
{
	@include contentMixin;

	.status-container
	{
		@include sectionContainerDefaultMixin;

		table
		{
			td.metric
			{
				padding-right: $padding-default;
				white-space: nowrap;
			}

			td.value
			{
				font-family: $font-family-monospace;
			}
		}
	}

	.block-type-counts-container,
	.block-type-usage-daily-container,
	.block-type-usage-hourly-container
	{
		@include sectionContainerDefaultMixin;

		padding-bottom: 10px; // This is a workaround for react-chartjs-2 not detecting the box height properly.

		@include media("<tablet")
		{
			padding-bottom: $padding-default;
		}

		.chart
		{
			display: inline-block;
			height: 200px;
			position: relative;
			width: 50%;

			@include media("<tablet")
			{
				width: 100%;
			}
		}
	}

	.block-type-usage-daily-container,
	.block-type-usage-hourly-container
	{
		.chart
		{
			width: 100%;
		}
	}
}
