section.dashboard
{
	@include contentMixin;

	.statusContainer
	{
		@include sectionContainerDefaultMixin;

		margin-bottom: $margin-default;
		position: relative;

		h2
		{
			position: relative;

			.refresh
			{
				position: absolute;
				right: 0;
			}
		}

		table
		{
			td.metric
			{
				padding-right: $padding-default;
				white-space: nowrap;
			}

			td.value
			{
				font-family: "Courier New", "Lucida Console";
			}
		}
	}

	.blockTypeCountsContainer
	{
		@include sectionContainerDefaultMixin;

		margin-bottom: $margin-default;
		padding-bottom: 50px; // This is a workaround for react-chartjs-2 not detecting the box height properly.
		position: relative;

		h2
		{
			position: relative;

			.refresh
			{
				position: absolute;
				right: 0;
			}
		}

		table
		{
			td.metric
			{
				padding-right: $padding-default;
				white-space: nowrap;
			}

			td.value
			{
				font-family: "Courier New", "Lucida Console";
			}
		}

		.chart
		{
			display: inline-block;
			height: 200px;
			position: relative;
			width: 50%;
		}
	}
}
