section.dashboard
{
	@include contentMixin;

	.status-container
	{
		@include sectionContainerDefaultMixin;

		table
		{
			td.metric
			{
				padding-right: $padding-default;
				white-space: nowrap;
			}

			td.value
			{
				font-family: $font-family-monospace;
			}
		}
	}

	.block-type-counts-container,
	.block-type-usage-daily-container,
	.block-type-usage-hourly-container
	{
		@include sectionContainerDefaultMixin;

		padding-bottom: 10px; // This is a workaround for react-chartjs-2 not detecting the box height properly.

		@include media("<tablet")
		{
			padding-bottom: $padding-default;
		}

		&.expanded
		{
			background: $background-color-default;
			border: none;
			border-radius: 0;
			height: 100%;
			left: 0;
			margin: 0;
			min-width: $width-min;
			position: fixed;
			top: 0;
			width: 100%;
			z-index: $z-index-modals;
		}

		.chart
		{
			display: inline-block;
			height: 200px;
			position: relative;

			&:first-child
			{
				background: blue;
				border: 1px solid red;
				outline: 1px solid red;
			}

			&.expanded
			{
				height: calc(100% - 40px);
			}
		}

		.expand-button
		{
			@include flatButtonMixin;

			position: absolute;
			right: $padding-default;
			top: $padding-default;
		}
	}

	.block-type-counts-container
	{
		.chart
		{
			&:nth-of-type(1)
			{
				width: 55%;
			}

			&:nth-of-type(2)
			{
				width: 45%;
			}

			@include media("<desktop")
			{
				&:nth-of-type(1),
				&:nth-of-type(2)
				{
					width: 100%;
				}
			}
		}
	}

	.block-type-usage-daily-container,
	.block-type-usage-hourly-container
	{
		.chart
		{
			height: 220px;
			width: 100%;

			@include media("<tablet")
			{
				width: 100%;
			}
		}
	}
}
