section.dashboard
{
	@include contentMixin;

	.notifications-container
	{
		@include sectionContainerDefaultMixin;
	}

	.status-container
	{
		@include sectionContainerDefaultMixin;

		table
		{
			td.metric
			{
				padding-right: $padding-default;
				white-space: nowrap;
			}

			td.value
			{
				font-family: $font-family-monospace;
			}
		}
	}

	.block-type-counts-container-container .block-type-counts-container,
	.block-type-usage-daily-container,
	.block-type-usage-hourly-container
	{
		@include sectionContainerDefaultMixin;

		padding-bottom: 10px; // This is a workaround for react-chartjs-2 not detecting the box height properly.

		@include media("<tablet")
		{
			padding-bottom: $padding-default;
		}

		&.expanded
		{
			background: $background-color-default;
			border: none;
			border-radius: 0;
			height: 100%;
			left: 0;
			margin: 0;
			max-width: none;
			min-width: $width-min;
			position: fixed;
			top: 0;
			width: 100%;
			z-index: $z-index-modals;
		}

		.chart
		{
			height: 200px;
			position: relative;

			&.expanded
			{
				height: calc(100% - 40px);
				margin: 0;
				width: auto;
			}
		}

		.expand-button
		{
			@include flatButtonMixin;

			position: absolute;
			right: $padding-default;
			top: $padding-default;
		}
	}

	.block-type-counts-container-container
	{
		margin: 0;
		padding: 0;

		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		position: relative;

		@include media("<tablet")
		{
			display: block;
		}

		.block-type-counts-container
		{
			margin: 0 0 20px 0;

			@include media(">=tablet")
			{
				flex: 1 0 auto;
				margin: 0;
				max-width: calc(50% - 10px);
			}

			.chart
			{
				margin: 0 auto 0 auto;
				width: 300px;
			}
		}
	}

	.block-type-usage-daily-container,
	.block-type-usage-hourly-container
	{
		.chart
		{
			height: 250px;
			width: 100%;

			@include media("<tablet")
			{
				width: 100%;
			}
		}
	}
}
