html
{
	box-sizing: border-box;
	color: #777777;
	font-family: "Open Sans";
	font-size: 14px;
	word-break: break-word;
}

*, *:before, *:after
{
	box-sizing: inherit;
}

body
{
	background: #F8F8F8;
}

h1, h2, h3
{
	a
	{
		color: #777777;
	}
}

h1
{
	font-size: 24px;
	font-weight: 600;
	margin: 0 0 .8em 0;
}

h2
{
	font-size: 18px;
	font-weight: 600;
	margin: 0 0 .2em 0;
}

h3
{
	font-weight: 600;
}

p
{
	margin: 0 0 1em 0;
}
