@import "../vendor/normalize/normalize.css";
@import "base.scss";
@import "../../node_modules/izitoast/dist/css/iziToast.min.css";

$background-color-default: #eeeeee;
$border-default: 1px solid #999999;
$border-radius-default: 10px;
$color-blue: #007bff;
$color-blue-dark: darken($color-blue, 10%);
$color-grey: #6c757d;
$color-green: #28a745;
$color-red: #dc3545;
$color-yellow: #ffc107;
$color-cyan: #17a2b8;
$color-light: #f8f9fa;
$color-dark: #343a40;
$margin-default: 10px;
$padding-default: 10px;

#content-wrapper
{
	margin: 0 auto 0 auto;
	min-width: 320px;
	max-width: 800px;
	width: 100%;
}

section
{
	border: $border-default;
	border-radius: $border-radius-default;
	background: $background-color-default;
	margin: 0 $margin-default $margin-default*1.5 $margin-default;
	padding: $padding-default;
	width: calc(100% - ($margin-default*2));

	label.file
	{
		display: block;
		height: 80px;
		margin: 0 auto 6px auto;
		overflow: hidden;
		position: relative;
		width: 300px;

		input[type='file']
		{
			height: 1px;
			left: -100%;
			position: absolute;
			top: -100%;
			width: 1px;
		}

		i.fas
		{
			border: 3px solid transparent;
			color: $color-blue;
			font-size: 50px;
			left: 50%;
			position: absolute;
			top: 0px;
			transform: translateX(-50%);

			&:hover
			{
				color: $color-blue-dark;
			}

			&:active
			{
				background: $color-blue-dark;
				border-color: $color-blue-dark;
				color: #ffffff;
			}
		}

		span.filename
		{
			bottom: $margin-default;
			display: block;
			font-size: .8rem;
			position: absolute;
			text-align: center;
			white-space: nowrap;
			width: 100%;
		}
	}

	button.submit
	{
		background: $color-blue;
		border: 3px solid transparent;
		border-radius: $border-radius-default;
		color: white;
		display: block;
		font-size: 18px;
		margin: 0 auto 0 auto;
		padding: 6px 8px 6px 8px;

		&:hover
		{
			background: $color-blue-dark;
		}

		&:active
		{
			background: #ffffff;
			border-color: $color-blue-dark;
			color: $color-blue-dark;
		}

		span
		{
			margin-left: .3em;
			user-select: none;
		}
	}

	p.description
	{
		margin-bottom: 1em;
	}

	div.textarea
	{
		position: relative;

		textarea
		{
			background: #ffffff;
			margin-bottom: $margin-default;
			min-height: 100px;
			width: 100%;
		}

		span.counter
		{
			bottom: 0;
			font-size: .8rem;
			position: absolute;
			right: 0;
		}
	}
}

section.logo
{
	background: none;
	border: none;
	font-family: "Rajdhani";
	font-size: 36px;
	margin: $margin-default 0 $margin-default 0;
	padding: 0;
	text-align: center;
}

section.status
{
	h2
	{
		position: relative;

		.refresh
		{
			position: absolute;
			right: 0;
		}
	}

	.label
	{
		display: inline-block;
		width: 145px;
	}

	.value
	{
		font-family: "Courier New";
	}
}
