@import "../vendor/normalize/normalize.css";
@import "base.scss";

#content-wrapper
{
	margin: 0 auto 0 auto;
	min-width: 320px;
	max-width: 800px;
	width: 100%;
}

section.form
{
	border: 1px solid #999999;
	background: #eeeeee;
	margin: 0 10px 10px 10px;
	padding: 10px;
	width: calc(100% - 20px);

	form
	{
		input[type=file]
		{
			// background: black;
		}
	}

	input[type='submit']
	{
		display: block;
		margin: 1em auto 0 auto;
	}

	textarea
	{
		min-height: 100px;
		width: 100%;
	}
}

section.logo
{
	font-family: "Rajdhani";
	font-size: 36px;
	margin-top: 10px;
	text-align: center;
}


